# install4j response file for SeeTest Selenium Agent {{ app_version }}
serverPort$Long={{ server_port }}
sys.adminRights$Boolean=true
sys.installationDir={{ installation_folder | replace("\\", "\\\\") }}
sys.languageId=en
sys.programGroupAllUsers$Boolean=true
sys.programGroupDisabled$Boolean=false
sys.programGroupName=SeeTest Selenium Agent
isRestrictiveDeployment$Boolean={{ is_restrictive | lower }}
useExternalProxy$Boolean={{ use_external_proxy | lower }}