serverPort$Long={{ server_port }}
sys.adminRights$Boolean=true
sys.installationDir={{ installation_folder | replace("\\", "\\\\") }}
sys.languageId=en
sys.programGroupAllUsers$Boolean=true
sys.programGroupDisabled$Boolean=false
sys.programGroupName=SeeTest Selenium Agent
isRestrictiveDeployment$Boolean={{ is_restrictive }}
useExternalProxy$Boolean={{ external_proxy }}
externalProxyHost={{ external_proxyhost }}
externalProxyPort={{ external_proxyport }}
externalProxyUser={{ external_proxyuser }}
externalProxyPassword={{ external_proxypassword }}