<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.experitest.selenium.support.service.plist</string>
	<key>ServiceDescription</key>
	<string>Selenium Support Service</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/Shared/SeleniumAgent/jre/bin/java</string>
		<string>-jar</string>
    <string>/Users/Shared/SeleniumAgent/lib/selenium-support-service-0.0.jar</string>
    <string>start-launchd</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/Shared/SeleniumAgent/logs/SupportServiceErrors.log</string>
	<key>StandardOutPath</key>
	<string>/Users/Shared/SeleniumAgent/logs/SupportServiceOutput.log</string>
</dict>
</plist>
